jupyterlab
notebook

git+https://github.com/anaconda/nb_conda_kernels@2.5.2

#### JupyterLab/Notebook Extensions ####

jupyter-ai

# in the requirements.txt, manually pin jupyterlab-chat to work around bug that
# prevents chats from working outside jupyter server root directory when
# (apparently) JupyterLab is behind Apache HTTPD reverse proxy with default
# AllowEncodedSlashes false, likely introduced in:
# https://github.com/jupyterlab/jupyter-chat/pull/530
#
# Requires setting environment variable SKIP_JUPYTER_BUILDER=1 when using pip-compile
git+https://github.com/fasrc/jupyter-chat@copilot/no-encoded-slashes#subdirectory=python/jupyterlab-chat

# https://github.com/jupyterlab-contrib/jupyter-archive
jupyter-archive

# https://github.com/jupyter-server/jupyter-resource-usage
jupyter-resource-usage

# https://github.com/jupyterhub/jupyter-server-proxy
jupyter-server-proxy

# https://github.com/jupyterlab/jupyterlab-git
jupyterlab-git

# https://github.com/rapidsai/jupyterlab-nvdashboard
jupyterlab-nvdashboard

# https://github.com/deshaw/jupyterlab-execute-time
jupyterlab_execute_time

# https://github.com/jupytext/jupytext
jupytext

# jupyterlab / notebook extensions needed to support ipywidgets in user kernels
# https://ipywidgets.readthedocs.io/en/stable/user_install.html
jupyterlab_widgets
widgetsnbextension

# https://github.com/jupyterlab-contrib/jupyterlab-variableInspector
# currently not working: https://github.com/jupyterlab-contrib/jupyterlab-variableInspector/issues/355
#lckr_jupyterlab_variableinspector
